{{!-- Add Twitter Widget --}}
<div class="Sidebar-items col s12 m6">
  <div class="Sidebar-content z-depth-1 white">
    <h3 class="Sidebar-title icon-twitter">Sígueme en Twitter</h3>
    <a class="twitter-timeline" href="https://twitter.com/santiagomblanco" data-widget-id="626119752075751424">Tweets por @santiagomblanco.</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>
</div>

